<p><%= link_to("SEE ALL STUDENTS", :students) %></p>
<p><%= link_to("Add a student", :new_student) %></p>
<p><%= link_to("SEE ALL TEACHERS", :teachers) %></p>
<p><%= link_to("Add a teacher", :new_teacher) %></p>
<p><%= link_to("SEE ALL CLASSES", :klasses) %></p>
<p><%= link_to("Add a class", :new_klass) %></p>